<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user_x_hero.login %>
</p>

<p>
  <strong>Heroid:</strong>
  <%= @user_x_hero.heroid %>
</p>

<%= link_to 'Edit', edit_user_x_hero_path(@user_x_hero) %> |
<%= link_to 'Back', user_x_heros_path %>
