<p id="notice"><%= notice %></p>

<p>
  <strong>Hid:</strong>
  <%= @h_descriptor.hid %>
</p>

<p>
  <strong>Hero name:</strong>
  <%= @h_descriptor.hero_name %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @h_descriptor.mood %>
</p>

<p>
  <strong>Map:</strong>
  <%= @h_descriptor.map %>
</p>

<p>
  <strong>Pack max size:</strong>
  <%= @h_descriptor.pack_max_size %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @h_descriptor.experience %>
</p>

<p>
  <strong>Exp to next lvl:</strong>
  <%= @h_descriptor.exp_to_next_lvl %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @h_descriptor.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @h_descriptor.y_pos %>
</p>

<p>
  <strong>Hclass:</strong>
  <%= @h_descriptor.hclass %>
</p>

<p>
  <strong>Hrace:</strong>
  <%= @h_descriptor.hrace %>
</p>

<%= link_to 'Edit', edit_h_descriptor_path(@h_descriptor) %> |
<%= link_to 'Back', h_descriptors_path %>
